.root {
  padding: 40px 0;

  @media (max-width: 1279px) {
    padding: 35px 0;
  }

  @media (max-width: 768px) {
    padding: 25px 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
  }
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.productItem {
  width: 100%;
}